<launch>
  <arg name="posx" default="-2.0" /> <!-- -12.0 -->
  <!-- 3.75   -5.0 -->
  <arg name="posy" default="2.0" />
  <!-- 12.0   -2.0 -->
  <arg name="yaw" default="1.57079"/>
  <!-- -1.57   0.0 -->
  <arg name="world" default="rnd_room_c3_01"/>   <!-- bio_robotics_lab -->

  <arg name="max_linear_speed" default="0.8"/>
  <!-- 0.5 -->
  <arg name="min_linear_speed" default="0.05"/>
  <arg name="max_angular_speed" default="1.0"/>
  <!-- 0.5 -->
  <arg name="control_alpha" default="0.1"/>
  <!-- 0.8 w0.1-->
  <arg name="control_beta" default="0.3"/>
  <!-- 0.5 -->
  <arg name="linear_acceleration" default="0.1"/>
  <arg name="fine_dist_tolerance" default="0.02"/>
  <arg name="coarse_dist_tolerance" default="0.1"/>
  <arg name="angle_tolerance" default="0.05"/>
  <arg name="move_head" default="False"/>
  <arg name="use_pot_fields" default="False"/>
  <arg name="/base_link_name" default="base_link"/>
  <arg name="/target_frame" default="odom"/>
  <remap from="/cmd_vel" to="/hardware/mobile_base/cmd_vel"/>


  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_hardware_gazebo.launch">
    <arg name="posx" value="$(arg posx)" />
    <arg name="posy" value="$(arg posy)" />
    <arg name="yaw" default="$(arg yaw)"/>
    <arg name="world" value="$(arg world)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/justina_gazebo_mapless.rviz"/>

  <node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen">
    <param name="la_predefined" value="$(find config_files)/justina/manipulation/la_predefined.yaml"/>
    <param name="ra_predefined" value="$(find config_files)/justina/manipulation/ra_predefined.yaml"/>
    <param name="hd_predefined" value="$(find config_files)/justina/manipulation/hd_predefined.yaml"/>
    <remap from="/vision/obj_reco/recognize_object" to="/vision/obj_segmentation/get_obj_pose"/>
  </node>

  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_gazebo_controllers.launch"/>

  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find config_files)/maps/AllBlank.yaml _frame_id:=odom">
  </node>

  <node name="simple_move_odom" pkg="simple_move" type="simple_move_odom_node" output="screen">
    <param name="max_linear_speed" value="$(arg max_linear_speed)"/>
    <param name="max_angular_speed" value="$(arg max_angular_speed)"/>
    <param name="min_linear_speed" value="$(arg min_linear_speed)"/>
    <param name="control_alpha" value="$(arg control_alpha)"/>
    <param name="control_beta" value="$(arg control_beta)"/>
    <param name="linear_acceleration" value="$(arg linear_acceleration)"/>
    <param name="fine_dist_tolerance" value="$(arg fine_dist_tolerance)"/>
    <param name="coarse_dist_tolerance" value="$(arg coarse_dist_tolerance)"/>
    <param name="angle_tolerance" value="$(arg angle_tolerance)"/>
    <param name="move_head" value="$(arg move_head)"/>
    <param name="use_pot_fields" value="$(arg use_pot_fields)"/>
    <param name="/base_link_name" value="$(arg /base_link_name)"/>
    <param name="/target_frame" value="$(arg /target_frame)"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 map odom 100" />

  <node name="local_occ_grid" pkg="local_occ_grid" type="local_occ_grid">
    <param name="use_lidar" value="true"/>
    <param name="use_cloud" value="true"/>
    <param name="laser_scan_topic" value="/hardware/scan"/>
    <param name="point_cloud_topic" value="/camera/depth_registered/points"/>
  </node>

  <node name="local_occ_grid_secondary" pkg="local_occ_grid" type="local_occ_grid_secondary">
    <param name="use_lidar" value="true"/>
    <param name="use_cloud" value="true"/>
    <param name="laser_scan_topic" value="/hardware/scan"/>
    <param name="point_cloud_topic" value="/camera/depth_registered/points"/>
  </node>

  <node name="get_goal_point" pkg="mapless_nav" type="get_goal_point.py"/>

  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <remap from="/joy" to="/hardware/joy"/>
  </node>

  <node name="joystick_teleop_improved" pkg="joystick_teleop" type="joystick_teleop_node_improved.py" output="screen">
    <remap from="/hardware/mobile_base/cmd_vel" to="/cmd_vel"/>
  </node>


</launch>
