<launch>
  <arg name="posx" default="-2.0" /> <!-- -12.0 -->
  <!-- 3.75   -5.0 -->
  <arg name="posy" default="2.0" />
  <!-- 12.0   -2.0 -->
  <arg name="yaw" default="1.57079"/>
  <!-- -1.57   0.0 -->
  <arg name="world" default="rnd_room_c2_01"/>   <!-- bio_robotics_lab -->


  <include file="$(find mapless_nav)/launch/justina_mapless_simul.launch">
    <arg name="posx" value="$(arg posx)" />
    <arg name="posy" value="$(arg posy)" />
    <arg name="yaw" default="$(arg yaw)"/>
    <arg name="world" value="$(arg world)"/>
  </include>

  

</launch>