<?xml version="1.0"?>
<launch>
  <arg name="robot_dof" default="6"/>
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="effort_control" default="false"/>
  <arg name="velocity_control" default="false"/>
  <arg name="namespace" default="xarm"/>
  <arg name="model1300" default="false" />
  <arg name="add_realsense_d435i" default="true" />
  <arg name="add_d435i_links" default="true" />
  <arg name="robot_sn" default="" />
  <arg name="show_rviz" default="true" />
  <arg name="NO_GUI_CTRL" default="false"/>
  <arg name="debug" default="false" />
  <arg name="add_gripper" default="false" />
  <arg name="map_name" default="appartment"/>
  <arg name="locations" default="known_locations_gazebo"/>
  <arg name="object" default="077_rubiks_cube"/>
  <arg name="start" default="0"/>
  <arg name="stop" default="1000"/>
  <arg name="loop_cmd" default="default"/>
  
  <rosparam file="$(eval find('xarm' + str(arg('robot_dof')) + '_moveit_config') + '/config/xarm' + str(arg('robot_dof')) + '_params.yaml')" command="load" ns="$(arg namespace)"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find xarm_gazebo)/worlds/xarm_camera_scene.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_envs)/worlds/obj_grip_test.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include> -->

  <param name="robot_description" command="$(find xacro)/xacro
    --inorder '$(find baixue_description)/urdf/baixue.xacro' robot_type:=xarm limited:=false add_gripper:=false add_vacuum_gripper:=false add_bio_gripper:=false use_gazebo_camera:=true dof:=$(arg robot_dof)
    effort_control:=$(arg effort_control) velocity_control:=$(arg velocity_control) model1300:=$(arg model1300)
    add_realsense_d435i:=$(arg add_realsense_d435i)
    add_d435i_links:=$(arg add_d435i_links)
    robot_sn:=$(arg robot_sn)
    hw_ns:=$(arg namespace)
    " />

   <!-- <param name="robot_description" command="$(find xacro)/xacro
    - -inorder '$(find xarm_description)/urdf/xarm_device.urdf.xacro' robot_type:=xarm limited:=false add_gripper:=false add_vacuum_gripper:=false add_bio_gripper:=false use_gazebo_camera:=true dof:=$(arg robot_dof)
    effort_control:=$(arg effort_control) velocity_control:=$(arg velocity_control) model1300:=$(arg model1300)
    add_realsense_d435i:=$(arg add_realsense_d435i)
    add_d435i_links:=$(arg add_d435i_links)
    robot_sn:=$(arg robot_sn)
    hw_ns:=$(arg namespace)
    " /> -->
  
  <!-- <param name="robot_description_semantic" 
    command="$(find xacro)/xacro - -inorder '$(find xarm_description)/srdf/xarm.srdf.xacro' dof:=$(arg robot_dof) add_gripper:=false add_vacuum_gripper:=false add_bio_gripper:=false robot_type:=xarm" /> -->
  <param name="robot_description_semantic" 
    command="$(find xacro)/xacro --inorder '$(find baixue_description)/srdf/xarm.srdf.xacro' dof:=$(arg robot_dof) add_gripper:=false add_vacuum_gripper:=false add_bio_gripper:=false robot_type:=xarm" />

  <!-- <param name="robot_description_semantic" 
    command="$(find xacro)/xacro - -inorder '$(find baixue_description)/srdf/_xarm6_macro.srdf.xacro' add_gripper:=false add_vacuum_gripper:=false add_bio_gripper:=false" /> -->

  <group ns="robot_description_planning">
    <rosparam file="$(eval find('xarm' + str(arg('robot_dof')) + '_gripper_moveit_config') + '/config/joint_limits.yaml')" command="load"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="robot_description_kinematics">
    <rosparam file="$(eval find('xarm' + str(arg('robot_dof')) + '_gripper_moveit_config') + '/config/kinematics.yaml')" command="load"/>
  </group>

  <!-- spawn robot model in gazebo, located on the table, -gazebo_namespace defaults to be /gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
    respawn="false" output="screen"
    args="-gazebo_namespace /gazebo -urdf -model xarm$(arg robot_dof) -x 0 -y 0 -z 0 -Y 0 -param robot_description"/>

  <!-- load the corresponding controllers -->
  <include file="$(find xarm_controller)/launch/xarm$(arg robot_dof)_control.launch">
    <arg name="run_demo_traj" value="false"/>
    <arg name="effort_control" value="$(arg effort_control)"/>
    <arg name="velocity_control" value="$(arg velocity_control)"/>
    <arg name="add_gripper" value="false" />
  </include>

  <arg name="robot_controller_name" value="$(eval 'xarm' + str(arg('robot_dof')) + ('_velo_traj_controller' if arg('velocity_control') else '_traj_controller'))" />

  <remap from="arm_controller/follow_joint_trajectory" to="/$(arg namespace)/$(arg robot_controller_name)/follow_joint_trajectory"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list" subst_value="True">[/$(arg namespace)/joint_states]</rosparam>
  </node>

  <include file="$(eval find('xarm' + str(arg('robot_dof')) + '_gripper_moveit_config') + '/launch/move_group.launch')">
    <arg name="allow_trajectory_execution" value="true" />
    <arg name="fake_execution" value="false" />
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gripper_controller" value="false"/>
  </include>

  <node name="baixue_base_publisher" pkg="gazebo_envs" type="base_publisher.py" output="log" respawn="true">
  </node>

  <include if="$(arg show_rviz)" file="$(find xarm6_moveit_config)/launch/moveit_rviz.launch">
    <arg name="no_gui_ctrl" value="$(arg NO_GUI_CTRL)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- <node name="obj_reco" pkg="obj_reco" type="obj_reco_node" output="log"/>
  <node name="data_capture_node" pkg="object_manipulation" type="data_capture_node_.py" output="log"/>
  <node name="dataset_generator" pkg="object_manipulation" type="pose_generator.py" output="screen" respawn="true" respawn_delay="2"/> -->

</launch>
