<launch>
  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_hardware_gazebo.launch">
    <!--arg name="posy" value="3.9" /-->
    <arg name="posy" value="3.6" />
    <arg name="posx" value="2.6" />
    <arg name="world" value="$(arg world)"/>
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/justina_gazebo_mapless.rviz"/>
  
  <node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen">
    <param name="la_predefined" value="$(find config_files)/justina/manipulation/la_predefined.yaml"/>
    <param name="ra_predefined" value="$(find config_files)/justina/manipulation/ra_predefined.yaml"/>
    <param name="hd_predefined" value="$(find config_files)/justina/manipulation/hd_predefined.yaml"/>
    <remap from="/camera/depth_registered/points" to="/hardware/realsense/points"/>
    <remap from="/vision/obj_reco/recognize_object" to="/vision/obj_segmentation/get_obj_pose"/>
  </node>

  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_gazebo_controllers.launch"/>
  <node name="map_server" pkg="map_server" type="map_server" output="screen"
        args="$(find config_files)/maps/TR2.yaml _frame_id:=odom">
  </node>

  <include file="$(find surge_et_ambula)/launch/justina/justina_manipulation.launch"/>
  <include file="$(find surge_et_ambula)/launch/justina/vision.launch"/>
  <include file="$(find surge_et_ambula)/launch/justina/speech.launch"/>

  <node name="get_goal_point" pkg="machine_learning" type="get_goal_point.py"/>

   <node name="joy" pkg="joy" type="joy_node" output="screen">
     <remap from="/joy"      to="/hardware/joy"/>
   </node>
 
   <node name="joystick_teleop" pkg="joystick_teleop" type="joystick_teleop_node.py" output="screen" >
     <remap from="/hardware/mobile_base/cmd_vel"      to="/cmd_vel"/>
   </node>

  <node name="sim_laser" pkg="machine_learning" type="sim_laser"/>

  <node name="local_occ_grid" pkg="local_occ_grid" type="local_occ_grid">
    <param name="use_lidar" value="true"/>
    <param name="use_cloud" value="true"/>
    <param name="laser_scan_topic" value="/hardware/scan"/>
    <param name="point_cloud_topic" value="/hardware/realsense/points"/>
  </node>
</launch>
